<div class="home_content_wrapper">
    <div class="sentence sentence1">I've studied physics at the <a href="https://www.uni-hannover.de/" target="_blank">Leibniz University</a> in Hanover and focused on everything
        that included programming. Masterthesis and bachelorthesis were programming projects and my subsidiary subject
        was computer science.</div>
    <div class="sentence sentence2">After some years of uncertainties with my career choice i discovered programming. To
        perform on a higher level and to get some professional inputs, I visited the <a href="https://developerakademie.com/" target="_blank">Developer Akademie</a>.</div>
    <div class="sentence sentence3">After i finished the academy, they kept me as a programming coach, so i could improve my hard- and softskills even more.</div>
</div>