<div class="home_content_wrapper main">
    <div class="sentence sentence1">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/business/uni.png" alt="" srcset=""></div>
        </div>
        <div style="width: 80%;"> I've studied physics at the <a href="https://www.uni-hannover.de/"
                target="_blank">Leibniz University</a>
            in Hanover and focused on
            everything that included programming. Master thesis and bachelor thesis were programming projects and my
            subsidiary
            subject was computer science.</div>
    </div>
    <div class="sentence sentence2">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/business/akademie.png" alt="" srcset="">
            </div>
        </div>
        <div style="width: 80%;">After some years of
            uncertainties
            with my career choice i discovered programming. To
            perform on a higher level and to get some professional inputs, I visited the <a
                href="https://developerakademie.com/" target="_blank">Developer Akademie</a>.</div>
    </div>
    <div class="sentence sentence3">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/business/teacher.png" alt="" srcset=""></div>
        </div>
        <div style="width: 80%;">After i finished the academy,
            they
            kept me as a programming coach, so i could improve my hard- and softskills even more.</div>
    </div>
</div>