.main {
    --dargBgColor: #161616; //rgb(16, 29, 31)
    --lightRedColor: rgb(162, 9, 41);
    --darkRedColor: rgb(102, 9, 31);
    --lightTextColor: #d3d3d3;
}

.text_container {
    width: 80%;
    display: flex;
    align-items: center;
}

.img_wrapper_outline {
    background-color: var(--lightRedColor);
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    height: 70px;
    width: 70px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 550px) and (min-width: 400px) {
    .img_wrapper_outline {
        height: 50px;
        width: 50px;
    }
}


@media only screen and (max-width: 399px) {
    .img_wrapper_outline {
        display: none;
    }
}

.img_wrapper {
    background-color: var(--dargBgColor);
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        height: 60%;
        width: 60%;
    }
}

.home_content_wrapper {
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 16, 16, 0.8);
    flex-direction: column;
    overflow-x: hidden;
    color: var(--lightTextColor);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


::-webkit-scrollbar-track {
    border: 5px solid rgba(16, 16, 16, 0.9);
    background-color: rgba(16, 16, 16, 0.9);
}

::-webkit-scrollbar {
    width: 15px;
    background-color: var(--dargBgColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkRedColor);
    border-radius: 10px;
}

a {
    color: var(--lightRedColor);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    color: rgb(178, 46, 74);
}

.sentence {
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.sentence1 {
    padding-top: 5%;

    margin-left: 2%;
}

.sentence2 {
    padding-left: 5%;
}

.sentence3 {
    padding-left: 10%;
}

@media only screen and (max-width: 500px) {
    .home_content_wrapper {
        font-size: 18px;
    }
    .sentence{
        padding-bottom: 15%;
    }
}


@media only screen and (max-height: 800px) {
    .home_content_wrapper {
        font-size: 18px;
    }


}

@media only screen and (min-height: 800px) and (min-width: 1100px) {
    .home_content_wrapper {
        font-size: 20px;
    }

}