<div class="home_content_wrapper main">
    <div class="sentence sentence1">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/home/coder.png" ></div>
        </div>
        <div class="text_container"> I am a coding enthusiast with a masters degree in physics.</div>
    </div>
    <div class="sentence sentence2">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/home/projects.png" ></div>
        </div>
        <div class="text_container"> If you are interessted in my work, click below and see my Projects! </div>
    </div>
    <div class="sentence sentence3">
        <div class="img_wrapper_outline">
            <div class="img_wrapper"><img src="../../assets/icons/home/person.png" ></div>
        </div>
        <div class="text_container"> If you would like more information about me, click above and find out more!</div>
    </div>
</div>