<div class="home_content_wrapper">
    <div class="sentence sentence1">The best way to improve logical thinking, in my opinion is, to solve logical
        riddles. Those riddles can be hidden everywhere, not only at developing and programming complex code. </div>
    <div class="sentence sentence2">Mechanical systems are one of my favorite logical riddles, therefore i restored a
        very old motorcycle (<a href="https://de.wikipedia.org/wiki/Simson_S_51" target="_blank">Simson S51</a>) all by
        myself.</div>
    <div class="sentence sentence3">I am also collecting puzzleobjects and books about those riddles and, that is what a
        scientist would say, problems! </div>
    <div class="sentence sentence2">And of course i am searching for complex system building in games, but not only
        playing games is the fun for me. I enjoy to improve some little things. I've written some tiny bots and
        packages for games (mostly Minecraft with Java). Next step will be maybe a little game by myself!</div>
</div>